@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

th {
    font-weight: bold;
}

.buy-now-button {
    margin-top: 30px;
    margin-bottom: 30px;
}