<h1>Editing Product</h1>
<%= render 'form', category: @category %>

<%= link_to 'Back', products_path %>
<%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>
